html
{
    scroll-behavior: smooth;
}
*
{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body
{
    max-width: 100%;
    overflow-x: hidden;
}


h1
{
    font-size: 100px;
}
.col-6
{
   padding: 20px 30px 10px;
}
.arrow
{
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding:3px;
        margin:  0px 10px;
}
.right
{
    transform: rotate(-45deg);
}
.intro
{
    margin: 200px 100px 250px;
    color:rgb(200, 200, 200);
    mix-blend-mode: difference ;
    transition: cubic-bezier(1, 0, -1, 1);
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.bg
{
    background-color: #000000;
    background-image: linear-gradient(-20deg,black , rgb(30, 30, 30) );
    display: flex;
    height: 860px;
}
.dis
{
    margin: 200px 150px 250px;
    color: white;
    
}
.disc
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 100px;
}
.know
{
    margin: 100px 100p;
}
h2
{
    margin: 0 30px;
}
.row
{
    margin: 20px 30px; 
}
#z
{
    transition: ease;
    transition-duration: 1.5s;
}
#y
{
    transition:ease;
    transition-duration: 1s;
}
#x
{
    transition: ease;
    transition-duration: 0.5s;
}
.box
{
    height: 100px;
    width: 100px;
    border: solid 8px red;
    border-radius: 30%;
    border-width: 5px;
    position: fixed;
    transition: linear;
    transition-duration: 1s;

    animation: move 5s infinite,more 5s 1;
    z-index: 1;
}
@keyframes move
{

    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
   
}
@keyframes more

{
    from
    {
        transform: skew(45deg,45deg);
    }
    to
    {
        transform: skew(0deg,0deg);
    }

}
.box-2
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 8px;
    border-radius:50%;
    
    border-image: linear-gradient(to bottom right, #05F591, #FF01B8);
    border-image-slice: 5;
    padding: 80px;
    transform: rotate(45deg); 
    right: 100px;
    top: 600px;
    animation: rotate 15s infinite;
    z-index: 1;
    
}
@keyframes rotate
{
   0% {transform: rotate(0deg);}
   12% {transform: rotate(90deg);}
   24% {transform: rotate(180deg);}
   36% {transform: rotate(240deg);}
   48% {transform: rotate(360deg);}
   60% {transform: rotate(-240deg);}
   72% {transform: rotate(-180deg);}
   84% {transform: rotate(-90deg);}
   100% {transform: rotate(0deg);}
}
.box-3
{
position: absolute;
height: 150px;
width: 150px;
background-color:  rgb(82, 218, 211);
transform: rotate(45deg);
border-radius: 20% ;
mix-blend-mode: lighten;
left: 800px;
top: -10px;
animation: travel 10s infinite;
animation-timing-function: linear;

}
.Bottom
{
    z-index:1;
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    letter-spacing: 3px;
    right: 100px;
    top: 20px;
    font-family: "Lucida Console", Courier, monospace;
    cursor: pointer; 
    background-color: black;
    transition: 1s; 
}
#bottom
{
    text-decoration: none;
    color: white;
    background: transparent;
}
#bottom:hover
{
    color:black
}
.Bottom:hover
{
    background-color: white
}
#university
{
    text-decoration: none;
    color: #000000;
}
.bg2
{
    
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border: 1px solid;
    transform: skew(0deg, -8deg) translateY(-100px);
    
}
.dis
{
    transform: skew(0deg, 8deg);
} 
span
{
    margin: 10px;
animation: glow 2s linear infinite;
}
span:first-child
{
    animation-delay: 0.5s;
}
span:last-child
{
    animation-delay: 1s;
}
@keyframes glow
{
    0%,80%
    {
        color: #333;
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow: 0 0 10px #fff;
        text-shadow: 0 0 20px #fff;       
    }
}
.bg3
{
    display: flex;
    background-color: black;
    width: auto;
    height: 600px;
    position: relative;
    top: -10px;
    padding: 50px 0px 900px 100px;
    color: white;
    transform: skew(0deg, -8deg) translateY(-90px);
    

   
}
.knowing
{
    transform: skew(0deg, 8deg) translateY(200px);
} 

@keyframes rotatee
{
        to
    {
        transform:rotate(359deg);
    }
}


